.slider-wrapper{
  width: 150px;
  position: relative;
  z-index: 0;
}

.slider {
  pointer-events: none;
  appearance: none;
  background-color: #e5e5e5;
  border-radius: 100px;
  width: 100%;
  height: 40px;
  transition: all 0.3s linear;
}

.slider::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  pointer-events: all;
  appearance: none;
  background: url("../../assets/42.png");
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  pointer-events: all;
  appearance: none;
  background: url("../../assets/42.png");
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-moz-range-track{
  height: 100%;
}

.slider-backgroundText {
  margin-left: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  font-size: 13px;
  transition: all 0.1s linear;
  font-weight: bold;
  white-space: nowrap;
}
