{
  "extends": ["airbnb-typescript-prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/prefer-default-export": "warn",
    "no-alert": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/button-has-type": "off",
    // 에러타입 임시적으로 any씀 logger도입하기 전까지 유지
    "camelcase": "off",
    "no-console": "warn",
    "react/require-default-props": "off",
    "react/prop-type": "off"
  }
}
