:root {
  --white: rgb(255, 255, 255);
  --black: rgb(46, 47, 51);
  --lightgreen: rgb(92, 235, 182);
  --green: rgb(74, 226, 170);
  --lightred: rgb(251, 138, 146);
  --red: rgb(242, 119, 126);
  --orange: rgb(255, 165, 92);
  --skyblue: rgb(88, 210, 231);
  --lightgray: rgb(187, 189, 202);
  --gray: rgb(124, 126, 139);
  --darkgray: rgb(95, 96, 109);
  --snow: rgb(244, 244, 245);
  --darksnow: rgb(229, 229, 235);
}

@font-face {
  font-family: "D2Coding";
  src: url("./assets/fonts/D2Coding.ttf") format("truetype");
}

@font-face {
  font-family: "D2Coding";
  font-weight: bold;
  src: url("./assets/fonts/D2CodingBold.ttf") format("truetype");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: white;
  background-color: rgb(45, 46, 51);
  font-family: "D2Coding";
  height: 100%;
}

body {
  height: 100%;
  font-family: "D2Coding";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1;
}

#version {
  font-size: smaller;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 1em;
}

#version {
  font-size: smaller;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 1em;
}
