.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 18px;
  background-color: var(--black);
  width: 100%;
  min-width: 320px;
  height: 40rem;
}
