.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1.8rem;
  background-color: var(--black);
  width: 100%;
  max-width: 48rem;
  /* min-height: 60rem;
  max-height: 65rem; */
  height: 100%;
}

/* iphone 12 */
/* @media screen and (min-height: 800px) {
  .wrapper {
    max-height: 70rem;
  }
} */
/* desktop */
@media screen and (min-width: 1200px) {
  .wrapper {
    max-height: 100000rem;
  }
}
